#footer {
    width: 100%;
    background-color: #0496D4;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.container-footer {
    display: flex;
    width: 100%;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: nowrap;
}